$input-border: #f8f8f8;
$input-border-focus: #ed5a25;
$input-border-error: #de2323;
$input-border-valid: #0da6a1;
$input-bg: #f8f8f8;
$input-disabled-bg: #f8f8f8;
$input-placeholder: Greys Colors 05;
$input-font: "Manrope", sans-serif;

.input {
  display: block;
  width: 100%;
  font-family: $input-font;
  border: 1px solid $input-border;
  border-radius: 3px;
  font-size: 1.6rsem;
  background-color: $input-bg;

  color: #afafaf;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &::placeholder {
    color: $input-placeholder;
  }

  &:focus {
    border-color: $input-border-focus;
    outline: none;
    box-shadow: 0 0 0 2px rgba(243, 107, 42, 0.1);
  }

  &:disabled {
    background-color: $input-disabled-bg;
    cursor: not-allowed;
    opacity: 0.7;
  }
}
