// Heading
h1 {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h4 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

h5 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

h6 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

h7 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

// Body
.body-1 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.body-regular-1 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.body-2 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.body-regular-2 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.body-3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.body-regular-3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body-4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 160% */
  text-transform: capitalize;
}

.body-regular-4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

// Paragraph
.paragraph-1 {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.paragraph-2 {
  font-family: "Manrope", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.paragraph-3 {
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.main-color {
  color: #ed5a25;
}

.checkbox-color {
  color: #E5E5E5;
}
