<footer class="footer">
  <div class="container">
    <div class="footer-top row row-cols-4 row-cols-md-2 g-3">
      <div class="col">
        <h5>About us</h5>
        <ul class="d-flex flex-col">
          <li><a class="trans-3s" href="">About us</a></li>
          <li><a class="trans-3s" href="">News</a></li>
          <li><a class="trans-3s" href="">Support</a></li>
          <li><a class="trans-3s" href="">Contact</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>service</h5>
        <ul class="d-flex flex-col">
          <li><a class="trans-3s" href="">Help Center</a></li>
          <li><a class="trans-3s" href="">Privacy Policy</a></li>
          <li><a class="trans-3s" href="">How to buy</a></li>
          <li><a class="trans-3s" href="">Terms of use</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>follow us</h5>
        <ul class="social-list d-flex flex-col">
          <li>
            <a href="">
              <img src="./assets/imgs/fb_icon.png" alt="" />
              Facebook</a
            >
          </li>
          <li>
            <a href=""
              ><img src="./assets/imgs/lk_icon.png" alt="" />LinkedIn</a
            >
          </li>
          <li>
            <a href=""
              ><img src="./assets/imgs/ins_icon.png" alt="" />Instagram</a
            >
          </li>
          <li>
            <a href=""><img src="./assets/imgs/zalo_icon.png" alt="" />Zalo</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5>Payment</h5>
        <div class="payment-img d-flex flex-row">
          <img src="./assets/imgs/payment_1.png" alt="" />
          <img src="./assets/imgs/payment_2.png" alt="" />
          <img src="./assets/imgs/payment_3.png" alt="" />
          <img src="./assets/imgs/payment_4.png" alt="" />
          <img src="./assets/imgs/payment_5.png" alt="" />
          <img src="./assets/imgs/payment_6.png" alt="" />
        </div>
      </div>
    </div>
    <div class="footer-mid row row-cols-2 row-cols-md-1 g-4">
      <div class="col">
        <h5>Company</h5>
        <p class="body-regular-1">
          Hotline: 0982636800 (Các ngày trong tuần từ 8h đến 24h) <br /><br />
          Email: abcs@gmail.
        </p>
      </div>
      <div class="col">
        <h5>Certification</h5>
        <div class="certi-img d-flex flex-row">
          <img src="./assets/imgs/certi_4.png" alt="" />
          <img src="./assets/imgs/certi_2.png" alt="" />
          <img src="./assets/imgs/certi_3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bot col-12">
    <p>© 2024 by NapThe. All Rights Reserved.</p>
  </div>
</footer>
