$grid-breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  es: 400px,
);

// Button color
$primary-color: rgba(237, 90, 37, 1);

// Color-text
$grey-color-01: #404040;
